select {
	width: 150px;
	margin-right: 50px;
	margin-left: 0px;
}

div {
	margin-bottom: 10px;
	float: none;
}

div.major {
	margin-left: 0px;
	position: relative;
	left: 0px;
	border: 1px solid black;
	float: none;
}

div.selectdiv {
	width: 175px;
	float: left;
}

div.row {
	width: 1197px;
	clear: both;
}

label {
	float: left;
	width: 150px;
	font-weight: bold;
}

span.h3 {
	font-size: larger;
	font-weight: bold;
	color: green;
}

span.error {
	color: red;
	text-align: center;
}

