body {font-size:10pt; width: auto; padding: 0px; font-family: 'calibri,arial' }
h1 { font-size:10pt; text-align: left }
ul { list-style-type: none;padding:0pt }
a:link { text-decoration: none; color: black }

