/*@media print {*/
    @page { size: portrait }
    @page rotated { size : landscape }
    table { page : rotated }
/*}*/

body {
    /*zoom: 85%;*/
    /*-moz-transform: scale(.99);*/
}

table.summary {
    /*background-color:#EEFFCC;*/
    /*background-color:#000000;*/
    font-size: 10pt;
}
table.summary td {
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: top;
    border-bottom: 1px solid black;
}
table.summary td.tableholder {
	padding-right: 0px;
	padding-left: 0px;
	vertical-align: top;
}
table.summary tr.title {
    background-color:#C8C8FF;
    color:blue;
    text-align:center;
}
table.summary td.title {
	min-width: 200px;
    background-color:#D0FFD0;
    color:green;
    font-weight:bold;
    font-size: 120%
}
table.summary td.label {
    font-weight:bold;
    padding-left:30px
}
table.summary td.note {
    background-color:#EEEE70
}
table.summary td.center {
	text-align: center;
}
table.summary td.vcenter {
	text-align: center;
	vertical-align: middle;
}
table.summary td.left {
	text-align: left;
}
table.summary td.right {
	text-align: right;
}
table.summary tr.note {

    /*background-color:#EEEE70*/
}
table.summary tr.note2 {
    /*background-color:#C0FFC0*/
}
table.summary tr.even {
    background-color:#FFFFFF;
    border: 1px solid black;
}
table.summary tr.odd {
    background-color:#E7E7EF;
}
table.summary tr.motion {
    color:blue;
}
table.summary tr.order {
    color:red;
}
table.summary tr.judgment {
    color: #E68A00;
}
table.summary tr.notice {
    color: #A34262;
}
table.summary a {
	text-decoration: underline;
	color:blue;
	cursor: pointer;
}

table.summary a:visited {
	text-decoration: underline;
	cursor: pointer;
	color:#9900CC;
}

table.summary th {
	font-weight: normal;
}
