      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="900" height="300" id="Column3D" >
         <param name="movie" value="[% swfDir %]/[% chartType %].swf" />
         <param name="FlashVars" value="[% flashVars %]">
         <param name="quality" value="high" />
         <embed src="[% swfDir %]/[% chartType %].swf" flashVars="[% flashVars %]" quality="high" [% dimensions %] name="Column3D" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
      </object>
