<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
        <title>
			[% data.title %]
		</title>
        
		<link rel="stylesheet" type="text/css" href="/icms1.css" />
    </head>
    
    <body>
        <div class="pagetitle">
            Not Configured
        </div>
        
        <div style="text-align: center">
            You are not correctly configured to access this page.  Please contact Court Technology at
            <a href="mailto: cad-help@jud12.flcourts.org?subject=Add%20Divisions">cad-help</a> to have them add your divisions to your
            Active Domain configuration.
        </div> 
    </body>
</html>